{% extends 'app/base.html' %}
<!-- Tải static -->
{% load static %} 
{% block title %} About {% endblock %} 

{% block main_content %}
<div class="container about mt-3">
	<h2 class="text-center">Giới thiệu</h2>
	<p class="row container">
		<p>Chào mừng bạn đến với nền tảng trực tuyến của chúng tôi, chuyên cung cấp các sản phẩm laptop và tablet chất lượng cao từ các nhà sản xuất hàng đầu trên toàn thế giới. Chúng tôi cam kết mang đến cho khách hàng một sự lựa chọn đa dạng với những sản phẩm đáng tin cậy phù hợp với nhu cầu sử dụng của mọi người.</p>

		<p>Với mục tiêu mang đến trải nghiệm mua sắm trực tuyến tốt nhất, chúng tôi cung cấp một giao diện dễ sử dụng, tìm kiếm thuận tiện và thông tin chi tiết về từng sản phẩm. Sự hài lòng của khách hàng luôn được đặt lên hàng đầu, và chúng tôi luôn lắng nghe ý kiến và đề xuất từ phía khách hàng để liên tục cải thiện dịch vụ của mình.</p>
	  
		<p>Đây là nơi chúng tôi chia sẻ với khách hàng về sứ mệnh và giá trị cốt lõi của chúng tôi. Chúng tôi tin rằng công nghệ là một công cụ quan trọng để nâng cao cuộc sống của mọi người và đóng góp vào sự phát triển của xã hội. Chúng tôi cam kết cung cấp những sản phẩm công nghệ tiên tiến và đáng tin cậy, giúp khách hàng thực hiện những nhiệm vụ hàng ngày, làm việc hiệu quả và tận hưởng cuộc sống số.</p>
	  
		<p>Đội ngũ của chúng tôi bao gồm những chuyên gia có kinh nghiệm trong lĩnh vực công nghệ và dịch vụ khách hàng. Chúng tôi sẵn sàng hỗ trợ và tư vấn cho khách hàng để giúp họ lựa chọn sản phẩm phù hợp nhất với nhu cầu và ngân sách của mình.</p>
	  
		<p>Hãy trải nghiệm trang web của chúng tôi và khám phá những sản phẩm laptop và tablet tuyệt vời. Chúng tôi hy vọng rằng trang web của chúng tôi sẽ mang lại cho bạn trải nghiệm mua sắm trực tuyến dễ dàng, thoải mái và hài lòng nhất.</p>
	</p>
</div>
{% endblock main_content %}
