{% extends 'app/base.html' %}
<!-- Tải static -->
{% load static %} 
{% block title %} Checkout {% endblock %} 
{% block main_content %}
<div class="container" style="height: 120vh;">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger" role= 'alert'>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row mt-5">
        <div class="col-sm-6">
            <h4>Order Summary</h4>
            <hr>
            {% for item in cart_items %}
                <div class="card mb-2">
                    <div class="card body">
                        <h5>Product: {{item.product.title}}</h5>
                        <p>Quantity: {{item.quantity}}</p>
                        <p class="fw-bold">Price: {{item.product.discounted_price}}</p>
                    </div>
                </div>
            {% endfor %}
            <p class="fw-bold">Total Cost + Rs.40 = {{totalamount}}</p>
            <small>Term and Condition: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus non quo consequatur. Incidunt atque amet repellendus labore nihil maxime consequatur voluptates enim minima laboriosam aliquam accusantium commodi iste, blanditiis voluptas?</small>
        </div>
        <div class="col-sm-4 offset-sm-1">
            <h4>Select Shipping Address</h4>
        
            <form method="post" id="myform">
                {% csrf_token %}
                {% for ad in add %}
                <div class="card">
                    <div class="card-body">
                        <h5>{{ad.name}}</h5>
                        <p>Mobile: {{ad.mobile}}</p>
                        <p>{{ad.locality}} {{ad.state}} - {{ad.zipcode}}</p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input type="radio" class="form-check-input" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
                    <label for="custadd{{forloop.counter}}" class="form-check-label fw-bold">
                        Address : {{forloop.counter}}
                    </label>
                </div>
                {% endfor %}
                <div class="form-check mb-3">
                    <label for="totalamount" class="form-label">Total Amount</label>
                    <input type="number" class="form-control" name="totalamount" value={{totalamount}} readonly>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Payment</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}
