{% extends 'app/base.html' %}
<!-- Tải static -->
{% load static %} 
{% block title %}Login {% endblock %} 
{% block main_content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3 text-center">
            <h3>Reset Password Complete!!</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowFullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}